# 07_1_LEARN-DataAnalysisML

<a target="_blank" href="https://colab.research.google.com/github/hiyama341/ConStrain/blob/main/colab_notebooks/07_1_LEARN_DataAnalysis.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
# cloning the data repo
!git clone https://github.com/hiyama341/ConStrain_on_google_colab.git

fatal: destination path 'ConStrain_on_google_colab' already exists and is not an empty directory.

## 1. Setting up the AutoML library

In [3]:
%%capture 
!pip install h2o

In [4]:
import h2o
from h2o.automl import H2OAutoML

In [5]:
# If this doesnt work - install java. 
# Start the H2O cluster (locally)
h2o.init(ip="localhost", port=54323)

Checking whether there is an H2O instance running at http://localhost:54323 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_351"; Java(TM) SE Runtime Environment (build 1.8.0_351-b10); Java HotSpot(TM) 64-Bit Server VM (build 25.351-b10, mixed mode)
  Starting server from /Users/lucaslevassor/opt/anaconda3/envs/constrain/lib/python3.8/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/2f/lw3sfzbs7l7f_q1knzbtbwrr0000gp/T/tmpziv28yt3
  JVM stdout: /var/folders/2f/lw3sfzbs7l7f_q1knzbtbwrr0000gp/T/tmpziv28yt3/h2o_lucaslevassor_started_from_python.out
  JVM stderr: /var/folders/2f/lw3sfzbs7l7f_q1knzbtbwrr0000gp/T/tmpziv28yt3/h2o_lucaslevassor_started_from_python.err
  Server is running at http://127.0.0.1:54323
Connecting to H2O server at http://127.0.0.1:54323 ... successful.
Warning: Your H2O cluster version is too old (4 months and 5 days)!Please download and install the latest version from http://h2o.ai/download/

--------------------------  ------------------------------------
H2O_cluster_uptime:         20 secs
H2O_cluster_timezone:       Europe/Copenhagen
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.3
H2O_cluster_version_age:    4 months and 5 days !!!
H2O_cluster_name:           H2O_from_python_lucaslevassor_6vn69i
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.556 Gb
H2O_cluster_total_cores:    0
H2O_cluster_allowed_cores:  0
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54323
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.13 final
--------------------------  ------------------------------------

### 1.1 Import out dataframe to h20 object

Train a model based on the target and the df

In [6]:
# Run ML with new input 
new_input_for_ml = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_1st_iteration_LL.csv')
new_input_for_ml

    Line Name  0  1  2   3  Amt_norm
0    yp49_A01  1  2  5   1  0.972701
1    yp49_A02  1  3  8   1  0.269401
2    yp49_A04  1  3  8   2  0.202699
3    yp49_A06  1  2  6   2  1.133272
4    yp49_A07  1  1  5   3  0.981070
..        ... .. .. ..  ..       ...
164  yp51_E05  8  3  6   8  0.000000
165  yp51_E07  8  1  8   9  6.795506
166  yp51_E08  8  4  5   9  0.668263
167  yp51_E11  8  3  7  10  0.000000
168  yp51_E12  8  1  6  10  0.466688

[169 rows x 6 columns]

In [7]:
df_test = h2o.H2OFrame(pd.concat([new_input_for_ml], axis='columns'))
df_test.describe()

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Rows:169
Cols:6

,Line Name,0,1,2,3,Amt_norm
type,string,int,int,int,int,real
mins,NaN,1.0,1.0,5.0,1.0,0.0
mean,NaN,4.562130177514792,2.6745562130177514,6.56213017751479,5.313609467455621,17.036217794033266
maxs,NaN,8.0,4.0,8.0,10.0,277.3078163064027
sigma,NaN,2.2461576095106204,1.1575337897875202,1.1639363454615024,2.820396267988111,40.46203195493379
zeros,0,0,0,0,0,59
missing,0,0,0,0,0,0
0,yp49_A01,1.0,2.0,5.0,1.0,0.972700677969159
1,yp49_A02,1.0,3.0,8.0,1.0,0.2694007038642038
2,yp49_A04,1.0,3.0,8.0,2.0,0.2026994926097329
3,yp49_A06,1.0,2.0,6.0,2.0,1.1332716660677822
4,yp49_A07,1.0,1.0,5.0,3.0,0.9810695961627856
5,yp49_A08,1.0,1.0,8.0,3.0,0.2236893824573624
6,yp49_A09,1.0,3.0,7.0,3.0,0.0
7,yp49_B02,1.0,2.0,8.0,5.0,0.2559076874481825
8,yp49_B03,1.0,1.0,8.0,5.0,0.0
9,yp49_B04,1.0,1.0,5.0,6.0,0.0

In [8]:
# Since the data is categorical we need to make it from numerical to categorical 

df_test['0']= df_test['0'].asfactor()
df_test['1']= df_test['1'].asfactor()
df_test['2'] = df_test['2'].asfactor()
df_test['3'] = df_test['3'].asfactor()

In [9]:
df_test.describe()

Rows:169
Cols:6

,Line Name,0,1,2,3,Amt_norm
type,string,enum,enum,enum,enum,real
mins,NaN,,,,,0.0
mean,NaN,,,,,17.036217794033266
maxs,NaN,,,,,277.3078163064027
sigma,NaN,,,,,40.46203195493379
zeros,0,,,,,59
missing,0,0,0,0,0,0
0,yp49_A01,1,2,5,1,0.972700677969159
1,yp49_A02,1,3,8,1,0.2694007038642038
2,yp49_A04,1,3,8,2,0.2026994926097329
3,yp49_A06,1,2,6,2,1.1332716660677822
4,yp49_A07,1,1,5,3,0.9810695961627856
5,yp49_A08,1,1,8,3,0.2236893824573624
6,yp49_A09,1,3,7,3,0.0
7,yp49_B02,1,2,8,5,0.2559076874481825
8,yp49_B03,1,1,8,5,0.0
9,yp49_B04,1,1,5,6,0.0

Set some arguments for the autoML. 


Important here is that we dont split the dataset but rather keep the cross-validation validate a model internally, i.e., estimate the model performance without having to sacrifice a validation split. See: https://docs.h2o.ai/h2o/latest-stable/h2o-docs/cross-validation.html

## 2. RUN automl

Here we are defining the autoML object and after we can train it

In [10]:
# Select the columns we want to train on
feature_cols = [0, 1, 2, 3]

# Initialize H2O autoML class
AutoML = H2OAutoML(
    max_runtime_secs=0,  # 1 hour =int(3600 * 1) , if unlimited time is wanted then set this to zero = 0
    max_models=None,  # no limit
    nfolds=5,         # number of folds for k-fold cross-validation (nfolds=0 disables cross-validation)
    seed=1,            # Reproducibility
    keep_cross_validation_predictions=True 
)

Train a model based on the target and the df. 


It has been Commented out and saved as showed below

In [11]:
%%time

AutoML.train(
     x=feature_cols,
     y='Amt_norm',
     training_frame=df_test,
 )

AutoML progress: |
14:31:26.194: _train param, Dropping bad and constant columns: [Line Name]


14:31:28.390: _train param, Dropping bad and constant columns: [Line Name]

█
14:31:29.225: _train param, Dropping bad and constant columns: [Line Name]
14:31:29.225: _min_rows param, The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 169.0.
14:31:29.246: _train param, Dropping unused columns: [Line Name]
14:31:29.562: _train param, Dropping bad and constant columns: [Line Name]

█
14:31:30.384: _train param, Dropping bad and constant columns: [Line Name]

█
14:31:31.761: _train param, Dropping bad and constant columns: [Line Name]

█
14:31:32.794: _train param, Dropping bad and constant columns: [Line Name]
14:31:33.258: _train param, Dropping bad and constant columns: [Line Name]
14:31:33.632: _train param, Dropping unused columns: [Line Name]

█
14:31:33.949: _train param, Dropping unused columns: [Line Name]
14:31:34.200: _train param, Dropping bad and constant columns: [Line Name]
14:31:34.569: _train param, Dropping bad and constant columns: [Line Name]

███
14:31:35.4: _train param, Dropping bad and constant columns: [Line Name]
14:31:35.385: _train param, Dropping bad and constant columns: [Line Name]

████
14:31:38.785: _train param, Dropping unused columns: [Line Name]
14:31:39.61: _train param, Dropping unused columns: [Line Name]

██████████████████████████████████████████████████
14:58:11.221: _train param, Dropping unused columns: [Line Name]
14:58:11.521: _train param, Dropping unused columns: [Line Name]


15:24:47.521: _train param, Dropping unused columns: [Line Name]


15:24:47.694: _train param, Dropping unused columns: [Line Name]


15:24:55.613: _train param, Dropping bad and constant columns: [Line Name]
15:24:55.978: _train param, Dropping unused columns: [Line Name]


15:24:57.35: _train param, Dropping unused columns: [Line Name]


15:24:59.834: _train param, Dropping unused columns: [Line Name]
15:25:00.357: _train param, Dropping unused columns: [Line Name]


15:28:56.193: _train param, Dropping unused columns: [Line Name]


15:28:56.457: _train param, Dropping unused columns: [Line Name]

█| (done) 100%
CPU times: user 19.9 s, sys: 2.09 s, total: 22 s
Wall time: 57min 33s
Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_grid_3_AutoML_1_20221114_143126_model_10


Status of Neuron Layers: predicting Amt_norm, regression, gaussian distribution, Quadratic loss, 22,301 weights/biases, 269.1 KB, 162,240 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,19,Input,0.0,,,,,,,,,
1,,2,100,RectifierDropout,0.0,0.0,0.0,0.156803,0.369194,0.0,-0.00329,0.139356,0.452125,0.090577
2,,3,100,RectifierDropout,0.0,0.0,0.0,0.008371,0.007941,0.0,-0.012634,0.106111,0.977464,0.024988
3,,4,100,RectifierDropout,0.0,0.0,0.0,0.012585,0.037405,0.0,-0.007363,0.10518,0.990918,0.012882
4,,5,1,Linear,,0.0,0.0,0.000755,0.001497,0.0,-0.020366,0.167398,0.002255,0.0

ModelMetricsRegression: deeplearning
** Reported on train data. **

MSE: 432.15367210688885
RMSE: 20.788306138473352
MAE: 9.438175741194877
RMSLE: NaN
Mean Residual Deviance: 432.15367210688885

ModelMetricsRegression: deeplearning
** Reported on cross-validation data. **

MSE: 543.4350202490855
RMSE: 23.31169277957063
MAE: 12.79396910761683
RMSLE: NaN
Mean Residual Deviance: 543.4350202490855

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,12.787570,3.325093,10.070380,17.494804,14.892732,9.773854,11.706079
1,mean_residual_deviance,544.122900,325.660800,227.260030,872.893700,791.486100,168.592860,660.382140
2,mse,544.122900,325.660800,227.260030,872.893700,791.486100,168.592860,660.382140
3,r2,0.575173,0.264808,0.304571,0.680275,0.284294,0.864471,0.742256
4,residual_deviance,544.122900,325.660800,227.260030,872.893700,791.486100,168.592860,660.382140
5,rmse,22.287104,7.698051,15.075146,29.544773,28.133362,12.984331,25.697900
6,rmsle,NaN,0.000000,NaN,NaN,NaN,NaN,NaN

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_deviance,training_mae,training_r2
0,,2022-11-14 15:18:53,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2022-11-14 15:18:53,7 min 24.287 sec,11118 obs/sec,10.0,1,1690.0,35.815862,1282.775966,18.067960,0.211807
2,,2022-11-14 15:18:58,7 min 29.325 sec,12380 obs/sec,380.0,38,64220.0,22.445309,503.791876,11.523768,0.690448
3,,2022-11-14 15:19:04,7 min 34.415 sec,13160 obs/sec,800.0,80,135200.0,20.938635,438.426419,10.528997,0.730612
4,,2022-11-14 15:19:05,7 min 36.250 sec,13417 obs/sec,960.0,96,162240.0,20.788306,432.153672,9.438176,0.734466

Variable Importances:

         variable  relative_importance  scaled_importance  percentage
0             0.1             1.000000           1.000000    0.072304
1             0.5             0.981825           0.981825    0.070990
2             0.2             0.928634           0.928634    0.067144
3             1.4             0.926464           0.926464    0.066987
4             2.7             0.919073           0.919073    0.066452
5             1.3             0.908520           0.908520    0.065689
6             2.6             0.907369           0.907369    0.065606
7             0.6             0.880631           0.880631    0.063673
8             0.8             0.878101           0.878101    0.063490
9             1.1             0.852029           0.852029    0.061605
10            2.8             0.848251           0.848251    0.061332
11            2.5             0.816673           0.816673    0.059048
12            0.3             0.777599           0.777599    0.056223
13            1.2             0.776736           0.776736    0.056161
14            0.7             0.723607           0.723607    0.052319
15            0.4             0.705054           0.705054    0.050978
16  0.missing(NA)             0.000000           0.000000    0.000000
17  1.missing(NA)             0.000000           0.000000    0.000000
18  2.missing(NA)             0.000000           0.000000    0.000000

In [12]:
print('DOOOOOOONE')

DOOOOOOONE

## 3. Processing model

In [13]:
# saving the models
leaderboard = AutoML.leaderboard
lb= leaderboard
model_ids = list(leaderboard['model_id'].as_data_frame().iloc[:,0])


# get rid of models with stacked ensemble - they; the tree-based models, the tree ensemble (GBM or Random Forest) ends up memorizing the training data.
#The model has a poor time generalizing on validation data
for model in model_ids:
    if 'StackedEnsemble' in model:
        model_ids.remove(model)

out_path = 'ConStrain_on_google_colab/Data/processed/ML_data_leaderboard2'

for m_id in model_ids:
     mdl = h2o.get_model(m_id)
     h2o.save_model(model=mdl, path=out_path, force=True)

In [14]:
len(model_ids)

680

Now we want to extract the best models that are not StackedEnsemble

In [15]:

df_from_h2o_object = lb.as_data_frame(use_pandas=True, header=True)
df_from_h2o_object

,model_id,rmse,mse,mae,rmsle,mean_residual_deviance
0,DeepLearning_grid_3_AutoML_1_20221114_143126_model_10,23.311693,543.435020,12.793969,NaN,543.435020
1,DeepLearning_grid_2_AutoML_1_20221114_143126_model_8,23.359770,545.678870,13.255695,NaN,545.678870
2,GBM_grid_1_AutoML_1_20221114_143126_model_504,23.667874,560.168242,12.211589,NaN,560.168242
3,DeepLearning_grid_3_AutoML_1_20221114_143126_model_1,23.744038,563.779337,13.972817,NaN,563.779337
4,DeepLearning_grid_2_AutoML_1_20221114_143126_model_7,23.760831,564.577078,14.887122,NaN,564.577078
...,...,...,...,...,...,...
688,DeepLearning_grid_2_AutoML_1_20221114_143126_model_5,35.663628,1271.894385,24.300886,NaN,1271.894385
689,XGBoost_grid_1_AutoML_1_20221114_143126_model_36,35.991144,1295.362415,15.029125,1.377461,1295.362415
690,XGBoost_grid_1_AutoML_1_20221114_143126_model_13,36.343115,1320.822029,16.482956,NaN,1320.822029
691,DeepLearning_grid_1_AutoML_1_20221114_143126_model_305,41.282781,1704.267972,28.841166,NaN,1704.267972
692,DeepLearning_grid_3_AutoML_1_20221114_143126_model_28,55.285061,3056.438021,35.244268,NaN,3056.438021

In [16]:
index_to_delete = []
for index, row in df_from_h2o_object.iterrows():
    if 'StackedEnsemble' in row['model_id']:
        index_to_delete.append(index)

data_wo_ensemble = df_from_h2o_object.drop(labels=index_to_delete, axis=0)
final_df = h2o.H2OFrame(data_wo_ensemble)
final_df

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

model_id,rmse,mse,mae,rmsle,mean_residual_deviance
DeepLearning_grid_3_AutoML_1_20221114_143126_model_10,23.3117,543.435,12.794,nan,543.435
DeepLearning_grid_2_AutoML_1_20221114_143126_model_8,23.3598,545.679,13.2557,nan,545.679
GBM_grid_1_AutoML_1_20221114_143126_model_504,23.6679,560.168,12.2116,nan,560.168
DeepLearning_grid_3_AutoML_1_20221114_143126_model_1,23.744,563.779,13.9728,nan,563.779
DeepLearning_grid_2_AutoML_1_20221114_143126_model_7,23.7608,564.577,14.8871,nan,564.577
DeepLearning_grid_3_AutoML_1_20221114_143126_model_7,23.8785,570.181,12.3377,nan,570.181
DeepLearning_grid_1_AutoML_1_20221114_143126_model_74,23.929,572.599,10.9277,nan,572.599
DeepLearning_grid_3_AutoML_1_20221114_143126_model_19,23.9443,573.328,11.8137,nan,573.328
GBM_grid_1_AutoML_1_20221114_143126_model_373,23.9616,574.157,12.4137,nan,574.157
DeepLearning_grid_2_AutoML_1_20221114_143126_model_1,24.1103,581.309,12.1375,nan,581.309

### 3.1 Saving the best model

In [17]:
best_model = AutoML.get_best_model()
best_model

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_grid_3_AutoML_1_20221114_143126_model_10


Status of Neuron Layers: predicting Amt_norm, regression, gaussian distribution, Quadratic loss, 22,301 weights/biases, 269.1 KB, 162,240 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,19,Input,0.0,,,,,,,,,
1,,2,100,RectifierDropout,0.0,0.0,0.0,0.156803,0.369194,0.0,-0.00329,0.139356,0.452125,0.090577
2,,3,100,RectifierDropout,0.0,0.0,0.0,0.008371,0.007941,0.0,-0.012634,0.106111,0.977464,0.024988
3,,4,100,RectifierDropout,0.0,0.0,0.0,0.012585,0.037405,0.0,-0.007363,0.10518,0.990918,0.012882
4,,5,1,Linear,,0.0,0.0,0.000755,0.001497,0.0,-0.020366,0.167398,0.002255,0.0

ModelMetricsRegression: deeplearning
** Reported on train data. **

MSE: 432.15367210688885
RMSE: 20.788306138473352
MAE: 9.438175741194877
RMSLE: NaN
Mean Residual Deviance: 432.15367210688885

ModelMetricsRegression: deeplearning
** Reported on cross-validation data. **

MSE: 543.4350202490855
RMSE: 23.31169277957063
MAE: 12.79396910761683
RMSLE: NaN
Mean Residual Deviance: 543.4350202490855

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,12.787570,3.325093,10.070380,17.494804,14.892732,9.773854,11.706079
1,mean_residual_deviance,544.122900,325.660800,227.260030,872.893700,791.486100,168.592860,660.382140
2,mse,544.122900,325.660800,227.260030,872.893700,791.486100,168.592860,660.382140
3,r2,0.575173,0.264808,0.304571,0.680275,0.284294,0.864471,0.742256
4,residual_deviance,544.122900,325.660800,227.260030,872.893700,791.486100,168.592860,660.382140
5,rmse,22.287104,7.698051,15.075146,29.544773,28.133362,12.984331,25.697900
6,rmsle,NaN,0.000000,NaN,NaN,NaN,NaN,NaN

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_deviance,training_mae,training_r2
0,,2022-11-14 15:18:53,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2022-11-14 15:18:53,7 min 24.287 sec,11118 obs/sec,10.0,1,1690.0,35.815862,1282.775966,18.067960,0.211807
2,,2022-11-14 15:18:58,7 min 29.325 sec,12380 obs/sec,380.0,38,64220.0,22.445309,503.791876,11.523768,0.690448
3,,2022-11-14 15:19:04,7 min 34.415 sec,13160 obs/sec,800.0,80,135200.0,20.938635,438.426419,10.528997,0.730612
4,,2022-11-14 15:19:05,7 min 36.250 sec,13417 obs/sec,960.0,96,162240.0,20.788306,432.153672,9.438176,0.734466

Variable Importances:

         variable  relative_importance  scaled_importance  percentage
0             0.1             1.000000           1.000000    0.072304
1             0.5             0.981825           0.981825    0.070990
2             0.2             0.928634           0.928634    0.067144
3             1.4             0.926464           0.926464    0.066987
4             2.7             0.919073           0.919073    0.066452
5             1.3             0.908520           0.908520    0.065689
6             2.6             0.907369           0.907369    0.065606
7             0.6             0.880631           0.880631    0.063673
8             0.8             0.878101           0.878101    0.063490
9             1.1             0.852029           0.852029    0.061605
10            2.8             0.848251           0.848251    0.061332
11            2.5             0.816673           0.816673    0.059048
12            0.3             0.777599           0.777599    0.056223
13            1.2             0.776736           0.776736    0.056161
14            0.7             0.723607           0.723607    0.052319
15            0.4             0.705054           0.705054    0.050978
16  0.missing(NA)             0.000000           0.000000    0.000000
17  1.missing(NA)             0.000000           0.000000    0.000000
18  2.missing(NA)             0.000000           0.000000    0.000000

In [18]:
model_path = h2o.save_model(model=best_model, path="ConStrain_on_google_colab/Data/processed/ML_models", force=True)

### 3.2 Exporting the leaderboard

In [19]:
# saving the leaderboard
import os
h2o.export_file(leaderboard, os.path.join(out_path, 'aml_leaderboard.h2o'), force=True)

Export File progress: |██████████████████████████████████████████████████████████| (done) 100%

### 3.3 Importing the leaderboard

In [20]:
models_path = "ConStrain_on_google_colab/Data/processed/ML_data_leaderboard2/"

lb = h2o.import_file(path=os.path.join(models_path, "aml_leaderboard.h2o"))
lb

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

model_id,rmse,mse,mae,rmsle,mean_residual_deviance
DeepLearning_grid_3_AutoML_1_20221114_143126_model_10,23.3117,543.435,12.794,nan,543.435
DeepLearning_grid_2_AutoML_1_20221114_143126_model_8,23.3598,545.679,13.2557,nan,545.679
GBM_grid_1_AutoML_1_20221114_143126_model_504,23.6679,560.168,12.2116,nan,560.168
DeepLearning_grid_3_AutoML_1_20221114_143126_model_1,23.744,563.779,13.9728,nan,563.779
DeepLearning_grid_2_AutoML_1_20221114_143126_model_7,23.7608,564.577,14.8871,nan,564.577
DeepLearning_grid_3_AutoML_1_20221114_143126_model_7,23.8785,570.181,12.3377,nan,570.181
DeepLearning_grid_1_AutoML_1_20221114_143126_model_74,23.929,572.599,10.9277,nan,572.599
DeepLearning_grid_3_AutoML_1_20221114_143126_model_19,23.9443,573.328,11.8137,nan,573.328
GBM_grid_1_AutoML_1_20221114_143126_model_373,23.9616,574.157,12.4137,nan,574.157
StackedEnsemble_BestOfFamily_8_AutoML_1_20221114_143126,23.9947,575.744,12.7384,nan,575.744

## 4. Importing the best model

In [21]:
# old best model DeepLearning_grid_2_AutoML_1_20220727_100352_model_37

best_model = h2o.load_model("ConStrain_on_google_colab/Data/processed/ML_models/DeepLearning_grid_2_AutoML_1_20221114_115638_model_37") #DeepLearning_grid_2_AutoML_1_20220919_101302_model_8	
my_local_model = h2o.download_model(best_model, path="ConStrain_on_google_colab/Data/processed/ML_models")
uploaded_model = h2o.upload_model(my_local_model)

### 4.1 Investigate model

In [22]:
best_model.cross_validation_holdout_predictions()

Get the cross validation predictions

In [23]:
# This is where list of cv preds are stored (one element per fold):
cross_validation_holdout_predictions = best_model.cross_validation_holdout_predictions()
print(cross_validation_holdout_predictions)
print(len(cross_validation_holdout_predictions))

None

TypeError: object of type 'NoneType' has no len()

In [ ]:
cross_validation_holdout_predictions.frame_id

In [ ]:
cv_fram = cross_validation_holdout_predictions.as_data_frame()
cv_fram.tail(50)

In [ ]:
# However you most likely want a single-column frame including all cv preds
cross_validation_predictions = best_model.cross_validation_predictions()
print(len(cross_validation_predictions))

In [ ]:
as_data_frame_df_test = df_test.as_data_frame()
as_data_frame_CV_predictions = cross_validation_holdout_predictions.as_data_frame()

In [ ]:
df3 = pd.merge(as_data_frame_df_test, as_data_frame_CV_predictions, left_index=True, right_index=True)
df3.head(50)

In [ ]:
df3.plot(y = ['Amt_norm','predict'], x =  'Line Name')

In [ ]:
import seaborn as sns
from scipy.stats import pearsonr

#set seaborn plotting aesthetics as default
sns.set()

sns.set_context("paper", font_scale=6.0, rc={"lines.linewidth": 1.5})
sns.set(rc = {'figure.figsize':(20,20)})

sns.lmplot(data=df3, x="Amt_norm", y="predict",  palette="viridis")
None

### 4.2 Learning curve

In [ ]:

learning_curve = uploaded_model.learning_curve_plot()

None

In [ ]:
as_data_frame_df_test

## 5. Find predicted genotypes

In [ ]:
import numpy as np

In [ ]:
all_genotypes = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv')
all_genotypes_df = h2o.H2OFrame(pd.concat([all_genotypes], axis='columns'))
all_genotypes_df

In [ ]:
input_fixed = new_input_for_ml[['0','1','2','3']]
input_fixed

### 5.1 Getting rid of the genotypes we have already tested:

In [ ]:
df_diff = all_genotypes[~all_genotypes.apply(tuple,1).isin(input_fixed.apply(tuple,1))]
df_diff

In [ ]:
# make the diff into a df 
all_genotypes_df = h2o.H2OFrame(pd.concat([df_diff], axis='columns'))
all_genotypes_df['0']= all_genotypes_df['0'].asfactor()
all_genotypes_df['1']= all_genotypes_df['1'].asfactor()
all_genotypes_df['2'] = all_genotypes_df['2'].asfactor()
all_genotypes_df['3'] = all_genotypes_df['3'].asfactor()

In [ ]:
predicted = best_model.predict(all_genotypes_df)

In [ ]:
len(predicted)

In [ ]:
predicted_norm = predicted.as_data_frame()
predicted_norm.head()

## 6. Predict the  phenotypes from the whole library

In [ ]:
# making predictions into a list
predicted_list = predicted_norm['predict'].values.tolist()

# Adding predictions to our dataframe
df_diff['predicted_norm_strict'] = predicted_list

# Sorting the dataframe
predicted_merged_sorted = df_diff.sort_values('predicted_norm_strict', ascending=False)
predicted_merged_sorted

If we want the names on the genotypes we can do the following:

In [ ]:
g8h_list_of_index = ["Cacu", "Opum","Cro","Vmin","Smus","Rsep","Oeu","Ccal"]
cpr_list_of_index = ["Cro", "Aan","Ara","Clo","Rse","Ahu","Ani","Cac","Oeu","Cpo"]
promoters = ["CYC1", "ENO2","PCK1","RPL15B", "CCW12", "TPI1","MLS1","URE2"]

g8h_genotype = []
cpr_genotype = []

pg8h_genotype = []
pcpr_genotype = []

predicted_list = []
# adding index of genotypes to individual rows 
for index, row in predicted_merged_sorted.iterrows():
    g8h_genotype.append(g8h_list_of_index[int(row['0'])-1])
    cpr_genotype.append(cpr_list_of_index[int(row['3'])-1])
    pg8h_genotype.append(promoters[int(row['1'])-1])
    pcpr_genotype.append(promoters[int(row['2'])-1])
    predicted_list.append(row['predicted_norm_strict'])
    
    
list_of_lists = [g8h_genotype,pg8h_genotype,pcpr_genotype, cpr_genotype, predicted_list  ]

## 7. Top 20 predicted producers

In [ ]:
df_with_genotypes = pd.DataFrame(list_of_lists )
df_with_genotypes = df_with_genotypes.T
df_with_genotypes.columns = ['G8H', 'pG8H', 'pCPR', 'CPR', 'Predicted_stric_production']
df_with_genotypes.head(20)

In [ ]:
df_with_genotypes.to_csv('ConStrain_on_google_colab/Data/processed/ML_predicted/2022_2807_categorical_DeepLearning_grid_2_AutoML_1_20220919_101302_model_8')

In [ ]:
df_with_genotypes.to_csv('ML_first_round_ml_predicted_producers.csv')