In [1]:
import pandas as pd

In [2]:
# Christines data:

## All the genotypes

In [3]:
#ConStrain/colab_notebooks/ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv
all_genotypes = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv',)
all_genotypes =all_genotypes[['0','1','2','3']]
len(all_genotypes)

1280

### Strains made in first DBTL round (with re-sequenced strains)

In [4]:
first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_reseq.csv',)
first_round = first_round[['0','1','2','3']]
len(first_round) # beware there are 8 duplicates here

166

In [5]:
# Are there any duplicated 
duplicateRows = first_round[first_round.duplicated(['0','1','2','3'])]
print('Unique genotypes from 1st round :', len(first_round) -len(duplicateRows))
duplicateRows

Unique genotypes from 1st round : 158

     0  1  2  3
13   1  1  8  8
42   3  2  6  2
71   4  3  8  6
82   5  4  6  1
86   5  4  5  3
90   5  2  8  4
94   5  4  8  6
106  6  1  8  2

In [6]:
df_diff = all_genotypes[~all_genotypes.apply(tuple,1).isin(first_round.apply(tuple,1))]
df_diff

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1122 rows x 4 columns]

In [7]:
second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration.csv')
second_round = second_round[['0','1','2','3']]
len(second_round) # beware there are 8 duplicates here

127

In [8]:
# Are there any duplicated - 
duplicateRows = second_round[second_round.duplicated(['0','1','2','3'])]
len(duplicateRows)

43

The same 43 genotypes are sampled twice, lets remove them

In [9]:
print('Unique rows from second iterations : ', len(second_round)-len(duplicateRows))

Unique rows from second iterations :  84

In [10]:
second_round = second_round.drop_duplicates()

In [11]:
# How many new combinations are seen between round 1 and round 2?
df_diff_between_first_and_second = second_round[~second_round.apply(tuple,1).isin(first_round.apply(tuple,1))]
len(df_diff_between_first_and_second)

73

In [12]:
158+73

231

We see 112 new combinations

In [13]:
remaing_genotypes_in_the_library_after_2nd_iteration = df_diff[~df_diff.apply(tuple,1).isin(second_round.apply(tuple,1))]
remaing_genotypes_in_the_library_after_2nd_iteration

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1049 rows x 4 columns]

In [14]:
# Unique genotypes
print('The total amount of unique genotypes seen in this study:', len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration))
unique_genotypes = len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration)

# Out of the theoretical library
print('Percent of the all genotypes sampled:', unique_genotypes/len(all_genotypes)*100)

The total amount of unique genotypes seen in this study: 231
Percent of the all genotypes sampled: 18.046875

In [15]:
### Lets plot

## All the genotypes - Made with SECOND DATA LL

In [16]:
#ConStrain/colab_notebooks/ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv
all_genotypes = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv',)
all_genotypes =all_genotypes[['0','1','2','3']]
len(all_genotypes)

1280

### Strains made in first DBTL round (with re-sequenced strains)

In [17]:
first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_1st_iteration_LL.csv',)
first_round = first_round[['0','1','2','3']]
len(first_round) # beware there are 8 duplicates here

168

In [18]:
# Are there any duplicated 
duplicateRows = first_round[first_round.duplicated(['0','1','2','3'])]
print('Unique genotypes from 1st round :', len(first_round) -len(duplicateRows))
duplicateRows

Unique genotypes from 1st round : 160

     0  1  2  3
13   1  1  8  8
42   3  2  6  2
73   4  3  8  6
84   5  4  6  1
88   5  4  5  3
92   5  2  8  4
96   5  4  8  6
108  6  1  8  2

In [19]:
df_diff = all_genotypes[~all_genotypes.apply(tuple,1).isin(first_round.apply(tuple,1))]
df_diff

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1120 rows x 4 columns]

In [20]:
second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration_LL.csv')
second_round = second_round[['0','1','2','3']]
len(second_round) # beware there are 8 duplicates here

129

In [21]:
# Are there any duplicated - 
duplicateRows = second_round[second_round.duplicated(['0','1','2','3'])]
len(duplicateRows)

43

The same 43 genotypes are sampled twice, lets remove them

In [22]:
print('Unique rows from second iterations : ', len(second_round)-len(duplicateRows))

Unique rows from second iterations :  86

In [23]:
second_round = second_round.drop_duplicates()

In [24]:
# How many new combinations are seen between round 1 and round 2?
df_diff_between_first_and_second = second_round[~second_round.apply(tuple,1).isin(first_round.apply(tuple,1))]
len(df_diff_between_first_and_second)

76

In [25]:
remaing_genotypes_in_the_library_after_2nd_iteration = df_diff[~df_diff.apply(tuple,1).isin(second_round.apply(tuple,1))]
remaing_genotypes_in_the_library_after_2nd_iteration

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1044 rows x 4 columns]

In [26]:
# Unique genotypes
print('The total amount of unique genotypes seen in this study:', len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration))
unique_genotypes = len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration)

# Out of the theoretical library
print('Percent of the all genotypes sampled:', unique_genotypes/len(all_genotypes)*100)

The total amount of unique genotypes seen in this study: 236
Percent of the all genotypes sampled: 18.4375

In [27]:
#print (pd.merge(input_fixed,old_input_for_ml, indicator=True, how='outer')
#         .query('_merge=="left_only"')
#         .drop('_merge', axis=1))

## Whats the difference between LL and CH analysis

In [28]:
LL_first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_1st_iteration_LL.csv',)
CH_first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_reseq.csv',)
CH_first_round

    Line Name  0  1  2   3  Amt_norm
0    yp49_A01  1  2  5   1  0.972701
1    yp49_A02  1  3  8   1  0.269401
2    yp49_A04  1  3  8   2  0.202699
3    yp49_A06  1  2  6   2  1.133272
4    yp49_A07  1  1  5   3  0.981070
..        ... .. .. ..  ..       ...
161  yp51_E05  8  3  6   8  0.000000
162  yp51_E07  8  1  8   9  6.795506
163  yp51_E08  8  4  5   9  0.668263
164  yp51_E11  8  3  7  10  0.000000
165  yp51_E12  8  1  6  10  0.466688

[166 rows x 6 columns]

In [29]:
LL_first_round = LL_first_round[['Line Name']]
CH_first_round = CH_first_round[['Line Name']]

In [30]:
LL_first_round

    Line Name
0    yp49_A01
1    yp49_A02
2    yp49_A04
3    yp49_A06
4    yp49_A07
..        ...
163  yp51_E05
164  yp51_E07
165  yp51_E08
166  yp51_E11
167  yp51_E12

[168 rows x 1 columns]

In [31]:
DIFF_LL_CH = CH_first_round[~CH_first_round.apply(tuple,1).isin(LL_first_round.apply(tuple,1))]
DIFF_LL_CH

    Line Name
114  yp50_G03

In [32]:
len(DIFF_LL_CH)

1