In [1]:
import pandas as pd

In [2]:
# Christines data:

## All the genotypes

In [3]:
#ConStrain/colab_notebooks/ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv
all_genotypes = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv',)
all_genotypes =all_genotypes[['0','1','2','3']]
len(all_genotypes)

1280

### Strains made in first DBTL round (with re-sequenced strains)

In [4]:
first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_reseq.csv',)
first_round = first_round[['0','1','2','3']]
len(first_round) # beware there are 8 duplicates here

166

In [5]:
# Are there any duplicated 
duplicateRows = first_round[first_round.duplicated(['0','1','2','3'])]
print('Unique genotypes from 1st round :', len(first_round) -len(duplicateRows))
print('Number of duplicates : ',abs(len(duplicateRows)) )
duplicateRows

Unique genotypes from 1st round : 158
Number of duplicates :  8

     0  1  2  3
13   1  1  8  8
42   3  2  6  2
71   4  3  8  6
82   5  4  6  1
86   5  4  5  3
90   5  2  8  4
94   5  4  8  6
106  6  1  8  2

In [6]:
df_diff = all_genotypes[~all_genotypes.apply(tuple,1).isin(first_round.apply(tuple,1))]
df_diff

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1122 rows x 4 columns]

In [7]:
second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration.csv')
second_round = second_round[['0','1','2','3']]
len(second_round) # beware there are 8 duplicates here

127

In [8]:
# Are there any duplicated - 
duplicateRows = second_round[second_round.duplicated(['0','1','2','3'])]
len(duplicateRows)

43

The same 43 genotypes are sampled twice, lets remove them

In [9]:
print('Unique rows from second iterations : ', len(second_round)-len(duplicateRows))

Unique rows from second iterations :  84

In [10]:
second_round = second_round.drop_duplicates()

In [11]:
# How many new combinations are seen between round 1 and round 2?
df_diff_between_first_and_second = second_round[~second_round.apply(tuple,1).isin(first_round.apply(tuple,1))]
len(df_diff_between_first_and_second)

73

In [12]:
158+73

231

We see 231 new combinations

In [13]:
remaing_genotypes_in_the_library_after_2nd_iteration = df_diff[~df_diff.apply(tuple,1).isin(second_round.apply(tuple,1))]
remaing_genotypes_in_the_library_after_2nd_iteration

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1049 rows x 4 columns]

In [14]:
# Unique genotypes
print('The total amount of unique genotypes seen in this study:', len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration))
unique_genotypes = len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration)

# Out of the theoretical library
print('Percent of the all genotypes sampled:', unique_genotypes/len(all_genotypes)*100)

The total amount of unique genotypes seen in this study: 231
Percent of the all genotypes sampled: 18.046875

In [15]:
### Lets plot

## All the genotypes - Made with SECOND DATA LL

In [16]:
#ConStrain/colab_notebooks/ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv
all_genotypes = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv',)
all_genotypes =all_genotypes[['0','1','2','3']]
len(all_genotypes)

1280

### Strains made in first DBTL round (with re-sequenced strains)

In [17]:
first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_1st_iteration_LL.csv',)
first_round = first_round[['0','1','2','3']]
len(first_round) # beware there are 8 duplicates here

169

In [18]:
# Are there any duplicated 
duplicateRows = first_round[first_round.duplicated(['0','1','2','3'])]
print('Unique genotypes from 1st round :', len(first_round) -len(duplicateRows))
duplicateRows

Unique genotypes from 1st round : 161

     0  1  2  3
13   1  1  8  8
42   3  2  6  2
73   4  3  8  6
84   5  4  6  1
88   5  4  5  3
92   5  2  8  4
96   5  4  8  6
108  6  1  8  2

In [19]:
df_diff = all_genotypes[~all_genotypes.apply(tuple,1).isin(first_round.apply(tuple,1))]
df_diff

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1119 rows x 4 columns]

In [20]:
second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration_LL.csv')
second_round = second_round[['0','1','2','3']]
len(second_round) # beware there are 8 duplicates here

129

In [21]:
# Are there any duplicated - 
duplicateRows = second_round[second_round.duplicated(['0','1','2','3'])]
len(duplicateRows)

43

The same 43 genotypes are sampled twice, lets remove them

In [22]:
print('Unique rows from second iterations : ', len(second_round)-len(duplicateRows))

Unique rows from second iterations :  86

In [23]:
second_round = second_round.drop_duplicates()

In [24]:
# How many new combinations are seen between round 1 and round 2?
df_diff_between_first_and_second = second_round[~second_round.apply(tuple,1).isin(first_round.apply(tuple,1))]
len(df_diff_between_first_and_second)

75

In [25]:
remaing_genotypes_in_the_library_after_2nd_iteration = df_diff[~df_diff.apply(tuple,1).isin(second_round.apply(tuple,1))]
remaing_genotypes_in_the_library_after_2nd_iteration

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1044 rows x 4 columns]

In [26]:
# Unique genotypes
print('The total amount of unique genotypes seen in this study:', len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration))
unique_genotypes = len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration)

# Out of the theoretical library
print('Percent of the all genotypes sampled:', unique_genotypes/len(all_genotypes)*100)

The total amount of unique genotypes seen in this study: 236
Percent of the all genotypes sampled: 18.4375

In [27]:
#print (pd.merge(input_fixed,old_input_for_ml, indicator=True, how='outer')
#         .query('_merge=="left_only"')
#         .drop('_merge', axis=1))

## Whats the difference between LL and CH analysis

### first round

In [28]:
LL_first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_1st_iteration_LL.csv',)
CH_first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_reseq.csv',)
LL_first_round.sort_values(by= 'Amt_norm')

    Line Name  0  1  2  3    Amt_norm
152  yp51_C12  8  3  7  2    0.000000
135  yp51_A10  7  4  8  4    0.000000
136  yp51_A12  7  4  7  4    0.000000
62   yp50_A04  4  3  7  2    0.000000
138  yp51_B02  7  3  7  5    0.000000
..        ... .. .. .. ..         ...
128  yp51_A02  7  2  6  1  141.151036
66   yp50_A09  4  2  6  3  152.013305
101  yp50_E05  5  1  6  8  163.352037
116  yp50_G03  6  2  6  5  176.917201
89   yp50_D03  5  2  6  3  277.307816

[169 rows x 6 columns]

In [29]:
print(len(LL_first_round))
print(len(CH_first_round))

169
166

In [30]:
#LL_first_round = LL_first_round[['Line Name']]
#LL_first_round = LL_first_round.drop_duplicates(subset='Line Name')
#CH_first_round = CH_first_round[['Line Name']]
#CH_first_round = CH_first_round.drop_duplicates(subset='Line Name')

In [31]:
CH_first_round

    Line Name  0  1  2   3  Amt_norm
0    yp49_A01  1  2  5   1  0.972701
1    yp49_A02  1  3  8   1  0.269401
2    yp49_A04  1  3  8   2  0.202699
3    yp49_A06  1  2  6   2  1.133272
4    yp49_A07  1  1  5   3  0.981070
..        ... .. .. ..  ..       ...
161  yp51_E05  8  3  6   8  0.000000
162  yp51_E07  8  1  8   9  6.795506
163  yp51_E08  8  4  5   9  0.668263
164  yp51_E11  8  3  7  10  0.000000
165  yp51_E12  8  1  6  10  0.466688

[166 rows x 6 columns]

In [32]:
DIFF_LL_CH = LL_first_round[~LL_first_round.apply(tuple,1).isin(CH_first_round.apply(tuple,1))]
DIFF_LL_CH

    Line Name  0  1  2  3   Amt_norm
51   yp49_G04  3  2  6  6   4.263909
52   yp49_G04  3  2  7  6   4.263909
134  yp51_A08  7  1  6  3  13.996156

In [33]:
DIFF_LL_CH = CH_first_round[~CH_first_round.apply(tuple,1).isin(LL_first_round.apply(tuple,1))]
DIFF_LL_CH

Empty DataFrame
Columns: [Line Name, 0, 1, 2, 3, Amt_norm]
Index: []

In [34]:
len(DIFF_LL_CH)

0

#### second round

In [35]:
LL_second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration_LL2.csv',)
CH_second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration.csv',)
CH_second_round.columns = ['Line_name','0','1','2','3', 'Amt_norm']
CH_second_round

    Line_name  0  1  2  3    Amt_norm
0    yp53_A01  4  1  5  2    9.058562
1    yp53_A02  4  1  5  2   28.175952
2    yp53_A04  4  2  5  2   80.375862
3    yp53_A05  5  1  5  2  119.800397
4    yp53_A06  5  1  5  2  121.767572
..        ... .. .. .. ..         ...
122  yp54_F02  7  2  5  7    2.814061
123  yp54_F03  7  2  5  7    2.560352
124  yp54_F04  7  2  6  7    2.256023
125  yp54_F05  4  2  5  2   54.525222
126  yp54_F06  4  1  5  2   20.815762

[127 rows x 6 columns]

In [36]:
print(len(LL_second_round))
print(len(CH_second_round))

129
127

In [37]:
LL_second_round

,Unnamed: 0,plate,well,G8H,inf_promoter1,inf_promoter2,CPR,Amt_uM_Strictosidine_x,Amt_uM_Strictosidine_y,norm_strict_x,norm_strict_y,norm_strict_mean,Line_name
0,0,yp53,A01,4,1,5,2,2.546823,2.000384,9.058562,5.196491,7.127526,yp53_A01
1,1,yp53,A02,4,1,5,2,7.921696,6.361643,28.175952,16.525934,22.350943,yp53_A02
2,2,yp53,A04,4,2,5,2,22.597750,25.466008,80.375862,66.154223,73.265043,yp53_A04
3,3,yp53,A06,5,1,5,2,34.235068,41.272486,121.767572,107.215440,114.491506,yp53_A06
4,4,yp53,A07,5,2,6,2,44.719792,55.490800,159.059724,144.151010,151.605367,yp53_A07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,232,yp54,A04,4,1,6,1,4.326963,5.081901,15.322951,13.201487,14.262219,yp54_A04
125,233,yp54,C04,5,2,6,3,26.634041,27.674967,94.318358,71.892536,83.105447,yp54_C04
126,234,yp54,C09,3,1,6,3,13.122270,11.424532,46.469517,29.678034,38.073775,yp54_C09
127,235,yp54,D12,5,1,6,6,1.049920,0.648354,3.718051,1.356013,2.537032,yp54_D12
128,236,yp54,E04,6,1,5,6,0.843157,0.444130,2.985849,0.928885,1.957367,yp54_E04

In [38]:
LL_second_round.sort_values(by='norm_strict_y', ascending=False).head(50)

,Unnamed: 0,plate,well,G8H,inf_promoter1,inf_promoter2,CPR,Amt_uM_Strictosidine_x,Amt_uM_Strictosidine_y,norm_strict_x,norm_strict_y,norm_strict_mean,Line_name
27,36,yp53,C07,6,2,6,4,35.604401,66.790035,126.638026,173.503553,150.070790,yp53_C07
72,97,yp54,A05,5,2,6,1,31.958430,64.742377,113.173462,168.184257,140.678860,yp54_A05
42,51,yp53,E02,6,2,6,5,40.809806,78.385885,145.152656,163.941847,154.547251,yp53_E02
77,108,yp54,A11,6,2,5,1,32.410574,61.778872,114.774626,160.485823,137.630225,yp54_A11
78,109,yp54,A12,6,2,5,1,32.421573,60.002565,114.813579,155.871429,135.342504,yp54_A12
11,11,yp53,B02,3,2,6,2,40.761943,57.286562,144.982414,148.815941,146.899178,yp53_B02
79,110,yp54,B01,3,2,6,1,39.044669,56.043924,138.267757,145.587886,141.927821,yp54_B01
4,4,yp53,A07,5,2,6,2,44.719792,55.490800,159.059724,144.151010,151.605367,yp53_A07
22,25,yp53,C01,5,1,5,4,40.340558,54.926634,143.483630,142.685448,143.084539,yp53_C01
75,100,yp54,A09,6,2,6,1,32.396570,53.696223,114.725035,139.489153,127.107094,yp54_A09
26,35,yp53,C06,6,2,6,4,44.848557,53.147639,159.517718,138.064072,148.790895,yp53_C06
95,162,yp54,C10,3,2,5,3,32.850608,52.831319,116.332907,137.242353,126.787630,yp54_C10
23,29,yp53,C02,5,1,6,4,35.068984,49.299323,124.733652,128.067125,126.400388,yp53_C02
24,30,yp53,C03,5,1,6,4,21.198062,44.008022,75.397443,114.321666,94.859555,yp53_C03
47,56,yp53,E07,3,1,5,5,14.183780,54.131553,50.448984,113.214602,81.831793,yp53_E07
45,54,yp53,E05,3,2,5,5,37.296604,54.086727,132.656867,113.120851,122.888859,yp53_E05
74,99,yp54,A07,5,2,5,1,24.763833,43.348700,87.695446,112.608917,100.152182,yp54_A07
3,3,yp53,A06,5,1,5,2,34.235068,41.272486,121.767572,107.215440,114.491506,yp53_A06
82,119,yp54,B05,7,2,6,1,32.741806,39.288778,115.947610,102.062270,109.004940,yp54_B05
5,5,yp53,A08,5,1,6,2,24.753650,36.336945,88.043986,94.394157,91.219071,yp53_A08
7,7,yp53,A10,6,2,5,2,36.469774,36.122438,129.715993,93.836922,111.776457,yp53_A10
100,173,yp54,D04,7,2,6,3,28.632131,34.061632,101.394139,88.483471,94.938805,yp54_D04
94,161,yp54,C07,6,2,6,3,26.282368,34.008421,93.072990,88.345243,90.709116,yp54_C07
99,169,yp54,D02,7,2,6,3,26.060590,33.980112,92.287612,88.271703,90.279657,yp54_D02
40,49,yp53,D11,5,1,6,5,21.072416,41.881744,74.950544,87.594476,81.272510,yp53_D11
44,53,yp53,E04,6,2,6,5,29.813864,37.167424,106.042198,77.734609,91.888403,yp53_E04
39,48,yp53,D10,5,1,6,5,30.948930,36.154402,110.079410,75.615902,92.847656,yp53_D10
17,17,yp53,B08,7,2,5,2,22.496982,28.782834,80.017453,74.770493,77.393973,yp53_B08
38,47,yp53,D09,5,2,6,5,47.692027,35.231947,169.631396,73.686614,121.659005,yp53_D09
125,233,yp54,C04,5,2,6,3,26.634041,27.674967,94.318358,71.892536,83.105447,yp54_C04
123,231,yp54,A03,4,2,6,1,24.801084,26.606512,87.827360,69.116962,78.472161,yp54_A03
87,136,yp54,B10,4,2,5,3,18.648844,26.526698,66.040611,68.909625,67.475118,yp54_B10
52,61,yp53,E12,7,2,6,5,27.692193,32.763882,98.495821,68.524727,83.510274,yp53_E12
121,221,yp54,F05,4,2,5,2,15.397077,26.291517,54.525222,68.298685,61.411954,yp54_F05
14,14,yp53,B05,7,2,6,2,35.693486,26.237235,126.954886,68.157676,97.556281,yp53_B05
2,2,yp53,A04,4,2,5,2,22.597750,25.466008,80.375862,66.154223,73.265043,yp53_A04
36,45,yp53,D06,4,2,6,5,30.736762,23.941676,109.324769,62.194395,85.759582,yp53_D06
90,145,yp54,C01,5,1,6,3,23.666312,23.657129,83.808825,61.455215,72.632020,yp54_C01
37,46,yp53,D08,4,2,5,5,27.740112,23.064344,98.666257,59.915309,79.290783,yp53_D08
15,15,yp53,B06,7,2,5,2,21.593288,22.794400,76.803186,59.214064,68.008625,yp53_B06
30,39,yp53,C10,3,1,6,4,13.473594,22.581876,47.922992,58.661980,53.292486,yp53_C10
97,167,yp54,C12,3,1,5,3,19.311327,19.797065,68.386645,51.427749,59.907197,yp54_C12
29,38,yp53,C09,3,1,6,4,14.617783,18.609196,51.992650,48.341966,50.167308,yp53_C09
81,115,yp54,B04,3,1,6,1,14.059585,18.178727,49.788802,47.223716,48.506259,yp54_B04
43,52,yp53,E03,6,1,5,5,15.759545,21.983930,56.053681,45.978765,51.016223,yp53_E03
28,37,yp53,C08,6,1,6,4,14.743257,17.649486,52.438939,45.848884,49.143912,yp53_C08
9,9,yp53,A12,6,1,6,2,15.445357,15.272469,54.936173,39.673997,47.305085,yp53_A12
91,149,yp54,C02,5,2,6,3,15.043772,14.713945,53.274074,38.223094,45.748584,yp54_C02
13,13,yp53,B04,3,1,6,2,18.079237,14.521043,64.304381,37.721984,51.013182,yp53_B04
76,104,yp54,A10,6,1,6,1,10.791194,14.345753,38.214544,37.266623,37.740584,yp54_A10

In [39]:
LL_second_round = LL_second_round[['Line_name','G8H', 'inf_promoter1', 'inf_promoter2', 'CPR', 'norm_strict_x' ]]
LL_second_round.columns = ['Line_name','0','1','2','3','Amt_norm']

In [40]:
LL_second_round = LL_second_round[['Line_name','0','1','2','3','Amt_norm']]
CH_second_round = CH_second_round[['Line_name','0','1','2','3', 'Amt_norm']]

In [41]:
diff_ll_ch = CH_second_round[~CH_second_round.Line_name.isin(LL_second_round.Line_name)]
diff_ll_ch

    Line_name  0  1  2  3    Amt_norm
3    yp53_A05  5  1  5  2  119.800397
26   yp53_C04  5  1  5  4  140.086994
33   yp53_C11  3  1  6  4    2.715863
34   yp53_C12  3  1  6  4   43.073560
41   yp53_D07  4  1  5  5    5.225774
79   yp54_A08  5  1  6  1   83.107365
100  yp54_C08  6  1  5  3   48.138193

In [42]:
DIFF_LL_CH = LL_second_round[~LL_second_round.apply(tuple,1).isin(CH_second_round.apply(tuple,1))]
DIFF_LL_CH

    Line_name  0  1  2  3    Amt_norm
59   yp53_F08  5  1  5  7    0.968497
72   yp54_A05  5  2  6  1  113.173462
73   yp54_A06  5  1  5  1   16.572217
104  yp54_D09  5  1  6  6    0.000000
107  yp54_E01  6  2  6  6    6.318329
109  yp54_E05  3  2  5  6    5.318841
114  yp54_E10  7  2  5  6    3.004290
117  yp54_F01  7  2  5  7    0.000000
125  yp54_C04  5  2  6  3   94.318358

In [43]:
DIFF_LL_CH = CH_second_round[~CH_second_round.apply(tuple,1).isin(LL_second_round.apply(tuple,1))]
DIFF_LL_CH

    Line_name  0  1  2  3    Amt_norm
3    yp53_A05  5  1  5  2  119.800397
26   yp53_C04  5  1  5  4  140.086994
33   yp53_C11  3  1  6  4    2.715863
34   yp53_C12  3  1  6  4   43.073560
41   yp53_D07  4  1  5  5    5.225774
79   yp54_A08  5  1  6  1   83.107365
100  yp54_C08  6  1  5  3   48.138193

In [44]:
list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

promoter_dict = {i+1:list_of_promoters[i]for i in range(len(list_of_promoters))}


g8h_list_of_index = ["CacuG8H", "OpumG8H","CroG8H","VminG8H","SmusG8H","RsepG8H","OeuG8H","CcalG8H"]
cpr_list_of_index = ["CroCPR", "AanCPR","AraCPR","CloCPR","RseCPR","AhuCPR","AniCPR","CacCPR","OeuCPR","CpoCPR"]


list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

pg8h_list_of_index = ['pCYC1', 'pENO2']
pcpr_list_of_index = ['pCCW12', 'pTPI1'] 



g8h_genotype = []
cpr_genotype = []
pg8h_genotype = []
pcpr_genotype = []

# adding index of genotypes to individual rows 
for index, row in second_round_top_producers.iterrows():
    # homologs
    g8h_name = g8h_list_of_index[int(row['0']-1)]
    cpr_name = cpr_list_of_index[int(row['3']-1)]
    
    # promoters
    pg8h_name =promoter_dict[row['1']]
    pcpr_name = promoter_dict[row['2']]
    
    
    # save the genotypes
    g8h_genotype.append(g8h_name)
    cpr_genotype.append(cpr_name)
    pg8h_genotype.append(pg8h_name)
    pcpr_genotype.append(pcpr_name)

second_round_top_producers['G8H'] = g8h_genotype
second_round_top_producers['CPR'] = cpr_genotype
second_round_top_producers['pG8H'] = pg8h_genotype
second_round_top_producers['pCPR'] = pcpr_genotype

NameError: name 'second_round_top_producers' is not defined

In [ ]:
second_round_top_producers = second_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR','Amt_norm' ]]
second_round_top_producers

In [ ]:
# Using DataFrame.agg() to combine two columns of text
second_round_top_producers["Names"] = second_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR']].agg('-'.join, axis=1)
second_round_top_producers= second_round_top_producers.reset_index()

second_round_top_producers_TOP20 = second_round_top_producers[:20]
second_round_top_producers_TOP20

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid")
# Font size
#sns.set_context("paper", rc={"font.size":8})

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(15, 15))



# Initializing plot
sns.set_color_codes('pastel')
ax = sns.barplot(x = 'Amt_norm', y = [i for i in second_round_top_producers_TOP20.index], data = second_round_top_producers_TOP20,
            label = '', color = 'b', edgecolor = 'w', orient = 'h')

# adding a horisontal line
plt.axvline(100, color='black')

# adding laves to each box
second_round_top_producers_TOP20_NAMES = list(second_round_top_producers_TOP20['Names'])

# adding the labels on the bar
for c in ax.containers:
    ax.bar_label(c, labels=second_round_top_producers_TOP20_NAMES, label_type='center')
    ax.bar_label(c)


None

## Bar plots

#### First round

In [ ]:
first_round_top_producers = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_reseq.csv')
first_round_top_producers = first_round_top_producers.sort_values(by='Amt_norm', ascending=False)

In [ ]:
first_round_top_producers.sort_values(by='Amt_norm', ascending=False)

In [ ]:
list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

promoter_dict = {i+1:list_of_promoters[i]for i in range(len(list_of_promoters))}


g8h_list_of_index = ["CacuG8H", "OpumG8H","CroG8H","VminG8H","SmusG8H","RsepG8H","OeuG8H","CcalG8H"]
cpr_list_of_index = ["CroCPR", "AanCPR","AraCPR","CloCPR","RseCPR","AhuCPR","AniCPR","CacCPR","OeuCPR","CpoCPR"]


list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

pg8h_list_of_index = ['pCYC1', 'pENO2']
pcpr_list_of_index = ['pCCW12', 'pTPI1'] 



g8h_genotype = []
cpr_genotype = []
pg8h_genotype = []
pcpr_genotype = []

# adding index of genotypes to individual rows 
for index, row in first_round_top_producers.iterrows():
    # homologs
    g8h_name = g8h_list_of_index[int(row['0']-1)]
    cpr_name = cpr_list_of_index[int(row['3']-1)]
    
    # promoters
    pg8h_name =promoter_dict[row['1']]
    pcpr_name = promoter_dict[row['2']]
    
    
    # save the genotypes
    g8h_genotype.append(g8h_name)
    cpr_genotype.append(cpr_name)
    pg8h_genotype.append(pg8h_name)
    pcpr_genotype.append(pcpr_name)

first_round_top_producers['G8H'] = g8h_genotype
first_round_top_producers['CPR'] = cpr_genotype
first_round_top_producers['pG8H'] = pg8h_genotype
first_round_top_producers['pCPR'] = pcpr_genotype

In [ ]:
first_round_top_producers = first_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR','Amt_norm' ]]
first_round_top_producers

In [ ]:
# Using DataFrame.agg() to combine two columns of text
first_round_top_producers["Names"] = first_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR']].agg('-'.join, axis=1)
first_round_top_producers= first_round_top_producers.reset_index()

first_round_top_producers_TOP20 = first_round_top_producers[:20]
first_round_top_producers_TOP20

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid")
# Font size
#sns.set_context("paper", rc={"font.size":8})

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(30, 15))



# Initializing plot
sns.set_color_codes('pastel')
ax = sns.barplot(x = 'Amt_norm', y = [i for i in first_round_top_producers_TOP20.index], data = first_round_top_producers_TOP20,
            label = '', color = 'b', edgecolor = 'w', orient = 'h')

# adding a horisontal line
plt.axvline(100, color='black')

# adding laves to each box
first_round_top_producers_TOP20_NAMES = list(first_round_top_producers_TOP20['Names'])

# adding the labels on the bar
for c in ax.containers:
    ax.bar_label(c, labels=first_round_top_producers_TOP20_NAMES, label_type='center')
    ax.bar_label(c)


None

#### Second round

In [ ]:
second_round_top_producers = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration.csv')
second_round_top_producers = second_round_top_producers.sort_values(by='Amt_norm', ascending=False)

In [ ]:
second_round_top_producers.sort_values(by='Amt_norm', ascending=False)

In [ ]:
list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

promoter_dict = {i+1:list_of_promoters[i]for i in range(len(list_of_promoters))}


g8h_list_of_index = ["CacuG8H", "OpumG8H","CroG8H","VminG8H","SmusG8H","RsepG8H","OeuG8H","CcalG8H"]
cpr_list_of_index = ["CroCPR", "AanCPR","AraCPR","CloCPR","RseCPR","AhuCPR","AniCPR","CacCPR","OeuCPR","CpoCPR"]


list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

pg8h_list_of_index = ['pCYC1', 'pENO2']
pcpr_list_of_index = ['pCCW12', 'pTPI1'] 



g8h_genotype = []
cpr_genotype = []
pg8h_genotype = []
pcpr_genotype = []

# adding index of genotypes to individual rows 
for index, row in second_round_top_producers.iterrows():
    # homologs
    g8h_name = g8h_list_of_index[int(row['0']-1)]
    cpr_name = cpr_list_of_index[int(row['3']-1)]
    
    # promoters
    pg8h_name =promoter_dict[row['1']]
    pcpr_name = promoter_dict[row['2']]
    
    
    # save the genotypes
    g8h_genotype.append(g8h_name)
    cpr_genotype.append(cpr_name)
    pg8h_genotype.append(pg8h_name)
    pcpr_genotype.append(pcpr_name)

second_round_top_producers['G8H'] = g8h_genotype
second_round_top_producers['CPR'] = cpr_genotype
second_round_top_producers['pG8H'] = pg8h_genotype
second_round_top_producers['pCPR'] = pcpr_genotype

In [ ]:
second_round_top_producers = second_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR','Amt_norm' ]]
second_round_top_producers

In [ ]:
# Using DataFrame.agg() to combine two columns of text
second_round_top_producers["Names"] = second_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR']].agg('-'.join, axis=1)
second_round_top_producers= second_round_top_producers.reset_index()

second_round_top_producers_TOP20 = second_round_top_producers[:20]
second_round_top_producers_TOP20

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid")
# Font size
#sns.set_context("paper", rc={"font.size":8})

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(15, 15))



# Initializing plot
sns.set_color_codes('pastel')
ax = sns.barplot(x = 'Amt_norm', y = [i for i in second_round_top_producers_TOP20.index], data = second_round_top_producers_TOP20,
            label = '', color = 'b', edgecolor = 'w', orient = 'h')

# adding a horisontal line
plt.axvline(100, color='black')

# adding laves to each box
second_round_top_producers_TOP20_NAMES = list(second_round_top_producers_TOP20['Names'])

# adding the labels on the bar
for c in ax.containers:
    ax.bar_label(c, labels=second_round_top_producers_TOP20_NAMES, label_type='center')
    ax.bar_label(c)


None