In [1]:
import pandas as pd

In [2]:
# Christines data:

## All the genotypes

In [3]:
#ConStrain/colab_notebooks/ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv
all_genotypes = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv',)
all_genotypes =all_genotypes[['0','1','2','3']]
len(all_genotypes)

1280

### Strains made in first DBTL round (with re-sequenced strains)

In [4]:
first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_reseq.csv',)
first_round = first_round[['0','1','2','3']]
len(first_round) # beware there are 8 duplicates here

166

In [5]:
# Are there any duplicated 
duplicateRows = first_round[first_round.duplicated(['0','1','2','3'])]
print('Unique genotypes from 1st round :', len(first_round) -len(duplicateRows))
print('Number of duplicates : ',abs(len(duplicateRows)) )
duplicateRows

Unique genotypes from 1st round : 158
Number of duplicates :  8

     0  1  2  3
13   1  1  8  8
42   3  2  6  2
71   4  3  8  6
82   5  4  6  1
86   5  4  5  3
90   5  2  8  4
94   5  4  8  6
106  6  1  8  2

In [6]:
df_diff = all_genotypes[~all_genotypes.apply(tuple,1).isin(first_round.apply(tuple,1))]
df_diff

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1122 rows x 4 columns]

In [7]:
second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration.csv')
second_round = second_round[['0','1','2','3']]
len(second_round) # beware there are 8 duplicates here

127

In [8]:
# Are there any duplicated - 
duplicateRows = second_round[second_round.duplicated(['0','1','2','3'])]
len(duplicateRows)

43

The same 43 genotypes are sampled twice, lets remove them

In [9]:
print('Unique rows from second iterations : ', len(second_round)-len(duplicateRows))

Unique rows from second iterations :  84

In [10]:
second_round = second_round.drop_duplicates()

In [11]:
# How many new combinations are seen between round 1 and round 2?
df_diff_between_first_and_second = second_round[~second_round.apply(tuple,1).isin(first_round.apply(tuple,1))]
len(df_diff_between_first_and_second)

73

In [12]:
158+73

231

We see 231 new combinations

In [13]:
remaing_genotypes_in_the_library_after_2nd_iteration = df_diff[~df_diff.apply(tuple,1).isin(second_round.apply(tuple,1))]
remaing_genotypes_in_the_library_after_2nd_iteration

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1049 rows x 4 columns]

In [14]:
# Unique genotypes
print('The total amount of unique genotypes seen in this study:', len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration))
unique_genotypes = len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration)

# Out of the theoretical library
print('Percent of the all genotypes sampled:', unique_genotypes/len(all_genotypes)*100)

The total amount of unique genotypes seen in this study: 231
Percent of the all genotypes sampled: 18.046875

In [15]:
### Lets plot

## All the genotypes - Made with SECOND DATA LL

In [16]:
#ConStrain/colab_notebooks/ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv
all_genotypes = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/systematic_names_on_all_combinations.csv',)
all_genotypes =all_genotypes[['0','1','2','3']]
len(all_genotypes)

1280

### Strains made in first DBTL round (with re-sequenced strains)

In [17]:
first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_1st_iteration_LL.csv',)
first_round = first_round[['0','1','2','3']]
len(first_round) # beware there are 8 duplicates here

169

In [18]:
# Are there any duplicated 
duplicateRows = first_round[first_round.duplicated(['0','1','2','3'])]
print('Unique genotypes from 1st round :', len(first_round) -len(duplicateRows))
duplicateRows

Unique genotypes from 1st round : 161

     0  1  2  3
13   1  1  8  8
42   3  2  6  2
73   4  3  8  6
84   5  4  6  1
88   5  4  5  3
92   5  2  8  4
96   5  4  8  6
108  6  1  8  2

In [19]:
df_diff = all_genotypes[~all_genotypes.apply(tuple,1).isin(first_round.apply(tuple,1))]
df_diff

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1119 rows x 4 columns]

In [20]:
second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration_LL.csv')
second_round = second_round[['0','1','2','3']]
len(second_round) # beware there are 8 duplicates here

129

In [21]:
# Are there any duplicated - 
duplicateRows = second_round[second_round.duplicated(['0','1','2','3'])]
len(duplicateRows)

43

The same 43 genotypes are sampled twice, lets remove them

In [22]:
print('Unique rows from second iterations : ', len(second_round)-len(duplicateRows))

Unique rows from second iterations :  86

In [23]:
second_round = second_round.drop_duplicates()

In [24]:
# How many new combinations are seen between round 1 and round 2?
df_diff_between_first_and_second = second_round[~second_round.apply(tuple,1).isin(first_round.apply(tuple,1))]
len(df_diff_between_first_and_second)

75

In [25]:
remaing_genotypes_in_the_library_after_2nd_iteration = df_diff[~df_diff.apply(tuple,1).isin(second_round.apply(tuple,1))]
remaing_genotypes_in_the_library_after_2nd_iteration

      0  1  2   3
0     1  1  5   1
1     1  1  5   2
3     1  1  5   4
4     1  1  5   5
6     1  1  5   7
...  .. .. ..  ..
1275  8  4  8   6
1276  8  4  8   7
1277  8  4  8   8
1278  8  4  8   9
1279  8  4  8  10

[1044 rows x 4 columns]

In [26]:
# Unique genotypes
print('The total amount of unique genotypes seen in this study:', len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration))
unique_genotypes = len(all_genotypes)-len(remaing_genotypes_in_the_library_after_2nd_iteration)

# Out of the theoretical library
print('Percent of the all genotypes sampled:', unique_genotypes/len(all_genotypes)*100)

The total amount of unique genotypes seen in this study: 236
Percent of the all genotypes sampled: 18.4375

In [27]:
#print (pd.merge(input_fixed,old_input_for_ml, indicator=True, how='outer')
#         .query('_merge=="left_only"')
#         .drop('_merge', axis=1))

## Whats the difference between LL and CH analysis

### first round

In [28]:
LL_first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_1st_iteration_LL.csv',)
CH_first_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_reseq.csv',)
LL_first_round

    Line Name  0  1  2   3  Amt_norm
0    yp49_A01  1  2  5   1  0.972701
1    yp49_A02  1  3  8   1  0.269401
2    yp49_A04  1  3  8   2  0.202699
3    yp49_A06  1  2  6   2  1.133272
4    yp49_A07  1  1  5   3  0.981070
..        ... .. .. ..  ..       ...
164  yp51_E05  8  3  6   8  0.000000
165  yp51_E07  8  1  8   9  6.795506
166  yp51_E08  8  4  5   9  0.668263
167  yp51_E11  8  3  7  10  0.000000
168  yp51_E12  8  1  6  10  0.466688

[169 rows x 6 columns]

In [29]:
print(len(LL_first_round))
print(len(CH_first_round))

169
166

In [30]:
#LL_first_round = LL_first_round[['Line Name']]
#LL_first_round = LL_first_round.drop_duplicates(subset='Line Name')
#CH_first_round = CH_first_round[['Line Name']]
#CH_first_round = CH_first_round.drop_duplicates(subset='Line Name')

In [31]:
CH_first_round

    Line Name  0  1  2   3  Amt_norm
0    yp49_A01  1  2  5   1  0.972701
1    yp49_A02  1  3  8   1  0.269401
2    yp49_A04  1  3  8   2  0.202699
3    yp49_A06  1  2  6   2  1.133272
4    yp49_A07  1  1  5   3  0.981070
..        ... .. .. ..  ..       ...
161  yp51_E05  8  3  6   8  0.000000
162  yp51_E07  8  1  8   9  6.795506
163  yp51_E08  8  4  5   9  0.668263
164  yp51_E11  8  3  7  10  0.000000
165  yp51_E12  8  1  6  10  0.466688

[166 rows x 6 columns]

In [32]:
DIFF_LL_CH = LL_first_round[~LL_first_round.apply(tuple,1).isin(CH_first_round.apply(tuple,1))]
DIFF_LL_CH

    Line Name  0  1  2  3   Amt_norm
51   yp49_G04  3  2  6  6   4.263909
52   yp49_G04  3  2  7  6   4.263909
134  yp51_A08  7  1  6  3  13.996156

In [33]:
DIFF_LL_CH = CH_first_round[~CH_first_round.apply(tuple,1).isin(LL_first_round.apply(tuple,1))]
DIFF_LL_CH

Empty DataFrame
Columns: [Line Name, 0, 1, 2, 3, Amt_norm]
Index: []

In [34]:
len(DIFF_LL_CH)

0

#### second round

In [55]:
LL_second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration_LL2.csv',)
CH_second_round = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration.csv',)
CH_second_round.columns = ['Line_name','0','1','2','3', 'Amt_norm']
CH_second_round

    Line_name  0  1  2  3    Amt_norm
0    yp53_A01  4  1  5  2    9.058562
1    yp53_A02  4  1  5  2   28.175952
2    yp53_A04  4  2  5  2   80.375862
3    yp53_A05  5  1  5  2  119.800397
4    yp53_A06  5  1  5  2  121.767572
..        ... .. .. .. ..         ...
122  yp54_F02  7  2  5  7    2.814061
123  yp54_F03  7  2  5  7    2.560352
124  yp54_F04  7  2  6  7    2.256023
125  yp54_F05  4  2  5  2   54.525222
126  yp54_F06  4  1  5  2   20.815762

[127 rows x 6 columns]

In [56]:
print(len(LL_second_round))
print(len(CH_second_round))

129
127

In [60]:
LL_second_round = LL_second_round[['Line_name','G8H', 'inf_promoter1', 'inf_promoter2', 'CPR', 'norm_strict_x' ]]
LL_second_round.columns = ['Line_name','0','1','2','3','Amt_norm']

In [61]:
LL_second_round = LL_second_round[['Line_name','0','1','2','3','Amt_norm']]
CH_second_round = CH_second_round[['Line_name','0','1','2','3', 'Amt_norm']]

In [67]:
diff_ll_ch = CH_second_round[~CH_second_round.Line_name.isin(LL_second_round.Line_name)]
diff_ll_ch

    Line_name  0  1  2  3    Amt_norm
3    yp53_A05  5  1  5  2  119.800397
26   yp53_C04  5  1  5  4  140.086994
33   yp53_C11  3  1  6  4    2.715863
34   yp53_C12  3  1  6  4   43.073560
41   yp53_D07  4  1  5  5    5.225774
79   yp54_A08  5  1  6  1   83.107365
100  yp54_C08  6  1  5  3   48.138193

In [63]:
DIFF_LL_CH = LL_second_round[~LL_second_round.apply(tuple,1).isin(CH_second_round.apply(tuple,1))]
DIFF_LL_CH

    Line_name  0  1  2  3    Amt_norm
59   yp53_F08  5  1  5  7    0.968497
72   yp54_A05  5  2  6  1  113.173462
73   yp54_A06  5  1  5  1   16.572217
104  yp54_D09  5  1  6  6    0.000000
107  yp54_E01  6  2  6  6    6.318329
109  yp54_E05  3  2  5  6    5.318841
114  yp54_E10  7  2  5  6    3.004290
117  yp54_F01  7  2  5  7    0.000000
125  yp54_C04  5  2  6  3   94.318358

In [64]:
DIFF_LL_CH = CH_second_round[~CH_second_round.apply(tuple,1).isin(LL_second_round.apply(tuple,1))]
DIFF_LL_CH

    Line_name  0  1  2  3    Amt_norm
3    yp53_A05  5  1  5  2  119.800397
26   yp53_C04  5  1  5  4  140.086994
33   yp53_C11  3  1  6  4    2.715863
34   yp53_C12  3  1  6  4   43.073560
41   yp53_D07  4  1  5  5    5.225774
79   yp54_A08  5  1  6  1   83.107365
100  yp54_C08  6  1  5  3   48.138193

In [65]:
list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

promoter_dict = {i+1:list_of_promoters[i]for i in range(len(list_of_promoters))}


g8h_list_of_index = ["CacuG8H", "OpumG8H","CroG8H","VminG8H","SmusG8H","RsepG8H","OeuG8H","CcalG8H"]
cpr_list_of_index = ["CroCPR", "AanCPR","AraCPR","CloCPR","RseCPR","AhuCPR","AniCPR","CacCPR","OeuCPR","CpoCPR"]


list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

pg8h_list_of_index = ['pCYC1', 'pENO2']
pcpr_list_of_index = ['pCCW12', 'pTPI1'] 



g8h_genotype = []
cpr_genotype = []
pg8h_genotype = []
pcpr_genotype = []

# adding index of genotypes to individual rows 
for index, row in second_round_top_producers.iterrows():
    # homologs
    g8h_name = g8h_list_of_index[int(row['0']-1)]
    cpr_name = cpr_list_of_index[int(row['3']-1)]
    
    # promoters
    pg8h_name =promoter_dict[row['1']]
    pcpr_name = promoter_dict[row['2']]
    
    
    # save the genotypes
    g8h_genotype.append(g8h_name)
    cpr_genotype.append(cpr_name)
    pg8h_genotype.append(pg8h_name)
    pcpr_genotype.append(pcpr_name)

second_round_top_producers['G8H'] = g8h_genotype
second_round_top_producers['CPR'] = cpr_genotype
second_round_top_producers['pG8H'] = pg8h_genotype
second_round_top_producers['pCPR'] = pcpr_genotype

NameError: name 'second_round_top_producers' is not defined

In [ ]:
second_round_top_producers = second_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR','Amt_norm' ]]
second_round_top_producers

In [ ]:
# Using DataFrame.agg() to combine two columns of text
second_round_top_producers["Names"] = second_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR']].agg('-'.join, axis=1)
second_round_top_producers= second_round_top_producers.reset_index()

second_round_top_producers_TOP20 = second_round_top_producers[:20]
second_round_top_producers_TOP20

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid")
# Font size
#sns.set_context("paper", rc={"font.size":8})

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(15, 15))



# Initializing plot
sns.set_color_codes('pastel')
ax = sns.barplot(x = 'Amt_norm', y = [i for i in second_round_top_producers_TOP20.index], data = second_round_top_producers_TOP20,
            label = '', color = 'b', edgecolor = 'w', orient = 'h')

# adding a horisontal line
plt.axvline(100, color='black')

# adding laves to each box
second_round_top_producers_TOP20_NAMES = list(second_round_top_producers_TOP20['Names'])

# adding the labels on the bar
for c in ax.containers:
    ax.bar_label(c, labels=second_round_top_producers_TOP20_NAMES, label_type='center')
    ax.bar_label(c)


None

## Bar plots

#### First round

In [ ]:
first_round_top_producers = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_reseq.csv')
first_round_top_producers = first_round_top_producers.sort_values(by='Amt_norm', ascending=False)

In [ ]:
first_round_top_producers.sort_values(by='Amt_norm', ascending=False)

In [ ]:
list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

promoter_dict = {i+1:list_of_promoters[i]for i in range(len(list_of_promoters))}


g8h_list_of_index = ["CacuG8H", "OpumG8H","CroG8H","VminG8H","SmusG8H","RsepG8H","OeuG8H","CcalG8H"]
cpr_list_of_index = ["CroCPR", "AanCPR","AraCPR","CloCPR","RseCPR","AhuCPR","AniCPR","CacCPR","OeuCPR","CpoCPR"]


list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

pg8h_list_of_index = ['pCYC1', 'pENO2']
pcpr_list_of_index = ['pCCW12', 'pTPI1'] 



g8h_genotype = []
cpr_genotype = []
pg8h_genotype = []
pcpr_genotype = []

# adding index of genotypes to individual rows 
for index, row in first_round_top_producers.iterrows():
    # homologs
    g8h_name = g8h_list_of_index[int(row['0']-1)]
    cpr_name = cpr_list_of_index[int(row['3']-1)]
    
    # promoters
    pg8h_name =promoter_dict[row['1']]
    pcpr_name = promoter_dict[row['2']]
    
    
    # save the genotypes
    g8h_genotype.append(g8h_name)
    cpr_genotype.append(cpr_name)
    pg8h_genotype.append(pg8h_name)
    pcpr_genotype.append(pcpr_name)

first_round_top_producers['G8H'] = g8h_genotype
first_round_top_producers['CPR'] = cpr_genotype
first_round_top_producers['pG8H'] = pg8h_genotype
first_round_top_producers['pCPR'] = pcpr_genotype

In [ ]:
first_round_top_producers = first_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR','Amt_norm' ]]
first_round_top_producers

In [ ]:
# Using DataFrame.agg() to combine two columns of text
first_round_top_producers["Names"] = first_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR']].agg('-'.join, axis=1)
first_round_top_producers= first_round_top_producers.reset_index()

first_round_top_producers_TOP20 = first_round_top_producers[:20]
first_round_top_producers_TOP20

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid")
# Font size
#sns.set_context("paper", rc={"font.size":8})

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(30, 15))



# Initializing plot
sns.set_color_codes('pastel')
ax = sns.barplot(x = 'Amt_norm', y = [i for i in first_round_top_producers_TOP20.index], data = first_round_top_producers_TOP20,
            label = '', color = 'b', edgecolor = 'w', orient = 'h')

# adding a horisontal line
plt.axvline(100, color='black')

# adding laves to each box
first_round_top_producers_TOP20_NAMES = list(first_round_top_producers_TOP20['Names'])

# adding the labels on the bar
for c in ax.containers:
    ax.bar_label(c, labels=first_round_top_producers_TOP20_NAMES, label_type='center')
    ax.bar_label(c)


None

#### Second round

In [ ]:
second_round_top_producers = pd.read_csv('ConStrain_on_google_colab/Data/AutoML/input_for_ml_2nd_iteration.csv')
second_round_top_producers = second_round_top_producers.sort_values(by='Amt_norm', ascending=False)

In [ ]:
second_round_top_producers.sort_values(by='Amt_norm', ascending=False)

In [ ]:
list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

promoter_dict = {i+1:list_of_promoters[i]for i in range(len(list_of_promoters))}


g8h_list_of_index = ["CacuG8H", "OpumG8H","CroG8H","VminG8H","SmusG8H","RsepG8H","OeuG8H","CcalG8H"]
cpr_list_of_index = ["CroCPR", "AanCPR","AraCPR","CloCPR","RseCPR","AhuCPR","AniCPR","CacCPR","OeuCPR","CpoCPR"]


list_of_promoters = ["pCYC1", "pENO2","pPCK1","pRPL15B", "pCCW12", "pTPI1","pMLS1","pURE2"]

pg8h_list_of_index = ['pCYC1', 'pENO2']
pcpr_list_of_index = ['pCCW12', 'pTPI1'] 



g8h_genotype = []
cpr_genotype = []
pg8h_genotype = []
pcpr_genotype = []

# adding index of genotypes to individual rows 
for index, row in second_round_top_producers.iterrows():
    # homologs
    g8h_name = g8h_list_of_index[int(row['0']-1)]
    cpr_name = cpr_list_of_index[int(row['3']-1)]
    
    # promoters
    pg8h_name =promoter_dict[row['1']]
    pcpr_name = promoter_dict[row['2']]
    
    
    # save the genotypes
    g8h_genotype.append(g8h_name)
    cpr_genotype.append(cpr_name)
    pg8h_genotype.append(pg8h_name)
    pcpr_genotype.append(pcpr_name)

second_round_top_producers['G8H'] = g8h_genotype
second_round_top_producers['CPR'] = cpr_genotype
second_round_top_producers['pG8H'] = pg8h_genotype
second_round_top_producers['pCPR'] = pcpr_genotype

In [ ]:
second_round_top_producers = second_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR','Amt_norm' ]]
second_round_top_producers

In [ ]:
# Using DataFrame.agg() to combine two columns of text
second_round_top_producers["Names"] = second_round_top_producers[['G8H', 'pG8H','pCPR', 'CPR']].agg('-'.join, axis=1)
second_round_top_producers= second_round_top_producers.reset_index()

second_round_top_producers_TOP20 = second_round_top_producers[:20]
second_round_top_producers_TOP20

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid")
# Font size
#sns.set_context("paper", rc={"font.size":8})

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(15, 15))



# Initializing plot
sns.set_color_codes('pastel')
ax = sns.barplot(x = 'Amt_norm', y = [i for i in second_round_top_producers_TOP20.index], data = second_round_top_producers_TOP20,
            label = '', color = 'b', edgecolor = 'w', orient = 'h')

# adding a horisontal line
plt.axvline(100, color='black')

# adding laves to each box
second_round_top_producers_TOP20_NAMES = list(second_round_top_producers_TOP20['Names'])

# adding the labels on the bar
for c in ax.containers:
    ax.bar_label(c, labels=second_round_top_producers_TOP20_NAMES, label_type='center')
    ax.bar_label(c)


None